html {
    font-size: 14px;
    margin-top: 100px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    transition: .5s
}

.nav-bg {
    background-color: rgba(0, 165, 248, 1);
    text-shadow: 1px 1px 2px black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    width: 90vw;
    margin: 0 auto;
    transition: linear 0.3s;
}

.bg-image {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(1px);
}

footer {
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.5);
}

.product-image {
    border-radius: 1rem;
    width: 400px;
    float: left;
    margin-right: 1rem;
}

.card {
    background-color: rgb(255, 255, 255, 0.75);
}

.card-title {
    font-weight: 800;
}

.card-text-price {
    font-weight: 500;
    font-size: 24px;
}

.input-group {
    text-align: center;
}

.buttons {
    position: absolute;
    bottom: 16px;
    right: 32px
}

.home a {
    text-decoration: none;
    color: black;
}

.about {
    margin: 0 16px 0 16px;
}

.seller {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 800;
}

.price {
    position: absolute;
    left: 17px;
    bottom: 8px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 6;
}

.text-shd {
    text-shadow: 1px 1px 2px lightgray;
    transition: linear .4s
}

.myBtn {
    background: linear-gradient(to bottom left,transparent calc(50% - 1px),#e6e6e6 calc(50% - 1px),#e6e6e6 50%,transparent 50%);
}
