@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card" style="padding: 1rem 0 1rem 1rem">
    <h1>Product Deleted Successfully</h1>
    <hr/>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Return to Admin Panel</a>
    </div>
</div>